/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;1,400&family=Rubik:ital,wght@0,700;1,700&display=swap');

/* CSS reset */
body, 
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-decoration: none;
}
 /* CSS Variables */
:root {
    /* Font Variables */
    --header-font: "rubik", sans-serif;
    --paragraph-font: "roboto mono", sans-serif;

    /* Color Variables */
    --background-color: #262626;
    --foreground-color: #fafafa;
    --accent-color-1: #D6D0FB;
    --accent-color-2: #9DE1C8;
}

/* General Styling */
body {
    background-color: var(--background-color);
}

h1, 
h2, 
h3 {
    font-family: var(--header-font);
    color: var(--foreground-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--foreground-color);
}

/* Header*/
header {
    background-color: rgba(38, 38, 38, 0);
    display: flex;
    flex-direction: column;
    align-items: start; 
}

header > a {
    text-decoration: none;
}

.title {
    margin-bottom: 1em;

}

.navbar {
    display: flex;
    gap: 2em;
}

.navbar__item {
    text-decoration: none;
}

